<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <meta name="title" content="Finanční poradenství vždy profesionálně a s pokorou">
    <!-- template core CSS-->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<!-- Header-->
<header class="header">
    <div class="container">
        <img src="img/brightbox_logo_white.svg" class="header-logo">
    </div>
</header>
<!-- Header end-->
<section class="first">
    <div class="container">
        formuláře
    </div>
</section>
<section>
    <div class="container">
        Tabulky
    </div>
</section>
<section>
    <div class="container">
        formuláře
    </div>
</section>
</body>
</html>